.tag-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tag-container > .card {
    margin: 0 10px;
}

.subtitle {
    font-size: 16px;
    margin-bottom: 82px !important;
    font-weight: 600;
}

.hero > img {
    height: 300px;
}

.title {
    margin-top: -45px;
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 0;
}

@media (max-width:800px) {
    .home-container {
        padding: 0 20px;
    }

    .tag-container {
        flex-direction: column;
        align-items: center;
    }
    .tag-container > .card {
        margin: 10px 0;
        padding-bottom: 20px;
    }

    .hero > img {
        height: 174px;
        margin-top: -12px;
    }
    .title {
        font-size: 18px;
        margin-top: -35px;
    }
    .subtitle {
        margin-bottom: 48px !important;
        font-size: 12px;
        margin-top: 10px;
    }
}